<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCikRO3Jt_bMIDTzJQ-QUTi6QhYuCrmO6c</string>
	<key>GCM_SENDER_ID</key>
	<string>201272004955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hananeelcinta.MyHananeelCinta</string>
	<key>PROJECT_ID</key>
	<string>jki-hananeel-cinta</string>
	<key>STORAGE_BUCKET</key>
	<string>jki-hananeel-cinta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:201272004955:ios:94e84dc0e16ab805508a7e</string>
	<key>DATABASE_URL</key>
	<string>https://jki-hananeel-cinta-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>